@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model IEnumerable<YourTour.Models.ViewModels.TourTuyChonViewModel>
@{
    ViewData["Title"] = "DanhSachTourTuyChon";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<h2>Danh sách khách đặt tour tùy chọn</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().TenKH)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Sdt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Mien)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Songuoidi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Ngaykhoihanh)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TenKH)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sdt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Mien)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Songuoidi)
                </td>
                <td>
                    @item.Ngaykhoihanh.ToShortDateString()
                </td>
            </tr>
        }
    </tbody>
</table>
