@model YourTour.Models.Commands.InsertTourCommand

@{
    ViewData["Tittle"] = "EditTour";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<h1 style="text-align:center;color:brown">Chỉnh sửa tour du lịch @Model.Tentour</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        @using (Html.BeginForm("EditTour", "Admin", FormMethod.Post))
        {
            <input type="hidden" name="@Model.ID" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label name="Tentour" class="control-label">Tên tour</label>
                <input name="Tentour" class="form-control" value="@Model.Tentour"/>
                <span asp-validation-for="Tentour" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label name="Thuocmien" class="control-label">Miền</label>
                <select asp-for="Thuocmien" class="form-control" name="Thuocmien"
                        asp-items="@(new SelectList(@ViewBag.ListMien, "ID", "Tenmien"))">
                </select>
            </div>
            <div class="form-group">
                <label name="Diemden" class="control-label">Địa điểm du lịch</label>
                <select asp-for="Diemden" class="form-control" name="Diemden"
                        asp-items="@(new SelectList(@ViewBag.ListDiaDiem, "Tendiadiem", "Tendiadiem"))">
                </select>
            </div>
            <div class="form-group">
                <label name="Diadiemkhoihanh" class="control-label">Địa điểm khởi hành</label>
                <select asp-for="Diadiemkhoihanh" class="form-control" name="Diadiemkhoihanh"
                        asp-items="@(new SelectList(@ViewBag.ListDiaDiem, "Tendiadiem", "Tendiadiem"))">
                </select>
            </div>
            <div class="form-group">
                <label name="Ngaydi" class="control-label">Ngày đi</label>
                <input asp-format="{0:MM-dd-yyyy HH:mm:ss}" data-val="true" name="Ngaydi" class="form-control" value="@Model.Ngaydi"/>
                <span asp-validation-for="Ngaydi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label name="Thoigiandi" class="control-label">Thời gian đi</label>
                <input name="Thoigiandi" class="form-control" value="@Model.Thoigiandi"/>
                <span asp-validation-for="Thoigiandi" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label name="Hinhanh" class="control-label">Hình Ảnh</label>
                <input name="Hinhanh" class="form-control input-file" type="file" value="@Model.Hinhanh"/>
                <span asp-validation-for="Hinhanh" class="text-danger" style="color:red">@ViewBag.Picture</span>
            </div>

            <div class="form-group">
                <label name="Lichtrinh" class="control-label">Lịch trình</label>
                <input name="Lichtrinh" class="form-control input-file" type="file" value="@Model.Lichtrinh"/>
                <span asp-validation-for="Lichtrinh" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label name="Gianguoilon" class="control-label">Giá người lớn</label>
                <input name="Gianguoilon" class="form-control" value="@Model.Gianguoilon"/>
                <span asp-validation-for="Gianguoilon" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="Giatreem" class="control-label">Giá trẻ em</label>
                <input name="Giatreem" class="form-control" />
                <span asp-validation-for="Giatreem" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label name="Mota" class="control-label">Mô tả</label>
                <input name="Mota" class="form-control" value="@Model.Mota"/>
                <span asp-validation-for="Mota" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TenHDV" class="control-label">Tên hướng dẫn viên</label>
                <input name="TenHDV" class="form-control" value="@Model.TenHDV"/>
                <span asp-validation-for="TenHDV" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Songuoi" class="control-label">Số người</label>
                <input type="number" name="Songuoi" class="form-control" value="@Model.Songuoi"/>
                <span asp-validation-for="Songuoi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-success" />
            </div>
        }
    </div>
</div>