@model YourTour.Models.ViewModels.NhanvienViewModel

@{
    ViewData["Title"] = "EditStaff";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1 style="text-align:center;color:brown">Chỉnh sửa thông tin nhân viên</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        @using (Html.BeginForm("EditStaff", "Admin", FormMethod.Post))
        {
            <input type="hidden" name="@Model.ID" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label name="Hoten" class="control-label">Tên nhân viên</label>
                <input name="Hoten" class="form-control" value="@Model.Hoten" id="Hoten" @*onchange="return KiemTra()"*@/>
                <span asp-validation-for="Hoten" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label name="Sdt" class="control-label">Số điện thoại</label>
                <input name="Sdt" class="form-control" value="@Model.Sdt" id="Sdt" @*onchange="return KiemTra()"*@/>
                <span asp-validation-for="Sdt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label name="Gioitinh" class="control-label">Giới tính</label>
                <select class="form-control" name="Gioitinh">
                    <option value="Nam">Nam</option>
                    <option value="Nữ">Nữ</option>
                </select>
            </div>
            <div class="form-group">
                <label name="Email" class="control-label">Email</label>
                <input name="Email" class="form-control" value="@Model.Email" id="Email" @*onchange="return KiemTra()"*@/>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label name="Matkhau" class="control-label">Mật khẩu</label>
                <input name="Matkhau" class="form-control" value="@Model.Matkhau" id="Matkhau" @*onchange="return KiemTra()"*@/>
                <span asp-validation-for="Matkhau" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label name="Vaitro" class="control-label">Vai trò</label>
                <input name="Vaitro" class="form-control" value="@Model.Vaitro" id="Vaitro" @*onchange="return KiemTra()"*@/>
                <span asp-validation-for="Vaitro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Lưu" class="btn btn-success" @*onclick="KiemTra()"*@/>
            </div>
        }
    </div>
</div>
@*<script>
    function Rong() {
        if (document.getElementById("Vaitro").value == "") {
            return console.alert("ssssssssssss");
        }
    }
    function KiemTra() {
        var Name, Phone, Email, Pass, Role, emailexp, phoneexp;
        Name = document.getElementById("Hoten").value;
        Phone = document.getElementById("Sdt").value;
        Email = document.getElementById("Email").value;
        Pass = document.getElementById("Matkhau").value;
        Role = document.getElementById("Vaitro").value;
        emailexp = /^([\w\.\-]+)@@([\w\-]+)((\.(\w){2,3})+)$/;
        phoneexp = /^(09|01[2|6|8|9])+([0-9]{8})$/;
        if (Name == "" && Phone == 0 && Email == "" && Pass == "" && Role == "")
        {
            alert("Không được để trống !!!");
            return false;
        }
        if (Name == "") {
            alert("Vui lòng nhập tên");
            return false;
        }
        if (Phone == "")
        {
           alert("Vui lòng nhập số điện thoại");
           return false;
        }
        if (Email == "")
        {
             alert("Vui lòng nhập email");
             return false;
        }
        if (Pass == "")
        {
            alert("Vui lòng nhập mật khẩu");
            return false;
        }
        if (Role == "")
        {
            alert("Vui lòng nhập vai trò");
            return false;
        }
        if (Email != "")
        {
            if (!Email.match(emailexp))
            {
                alert("Email không hợp lệ");
                return false;
             }
        }
        if (Phone != "")
        {
            if (!Phone.match(phoneexp))
            {
                alert("Số điện thoại không hợp lệ");
                return false;
            }
        }
        return true;
    }
</script>*@



