@model YourTour.Models.ViewModels.NhanvienViewModel
@{
    ViewData["Title"] = "StaffDetail";
    Layout = "~/Views/Shared/_LayoutTourDetail.cshtml";
}
<div class="container py-lg-5 py-sm-4">
    <h4 class="heading text-capitalize text-left mb-lg-5 mb-4" style="color:red">@Model.Hoten</h4>
    <p>@Model.Sdt</p>
    <div class="contact-grids" style="background-color:gainsboro">
        <div class="row">
            @*<div class="col-lg-7 contact-left">
                <div class="image-tour position-relative">
                    <img src="@Url.Content("/images/tour_images/"+Model.Hinhanh)" alt="" class="img-fluid" style="width:auto;height:auto" />
                </div>
            </div>*@
            <div class="col-lg-5 contact-right">
                <p>Giới tính: @Model.Gioitinh</p>
                <p>Email: @Model.Email</p>
                <p>mật khẩu: @Model.Matkhau</p>
                <p>Vai trò: @Model.Vaitro</p>
                <hr />
                @*<h5 style="color:red">@Model.Gianguoilon đ</h5>*@
                @*<a href="@Url.Action("ChiTietTour","Tour", new { @id = Model.ID})"><button class="btn btn-outline-primary">Đặt ngay</button></a>*@
            </div>
        </div>
    </div>
    <div class="col-lg-12">
        @*<table>
            @Html.Raw(Model.Lichtrinh)
        </table>*@

    </div>
</div>