@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model YourTour.Models.ViewModels.TourViewModel
@{
    ViewData["Title"] = "TourDetail";
    Layout = "~/Views/Shared/_LayoutTourDetail.cshtml";
}
<div class="container py-lg-5 py-sm-4">
    <h4 class="heading text-capitalize text-left mb-lg-5 mb-4" style="color:red">@Model.Tentour</h4>
    <p>@Model.Code</p>
    <div class="contact-grids" style="background-color:gainsboro">
        <div class="row">
            <div class="col-lg-7 contact-left">
                <div class="image-tour position-relative">
                    <img src="@Url.Content("/images/tour_images/"+Model.Hinhanh)" alt="" class="img-fluid" style="width:auto;height:auto" />
                </div>
            </div>
            <div class="col-lg-5 contact-right">
                <p>Khởi hành: @Model.Ngaydi.ToShortDateString()</p>
                <p>Thời gian: @Model.Thoigiandi ngày</p>
                <p>Nơi khởi hành: @Model.Diadiemkhoihanh</p>
                <hr />
                <h5 style="color:red">@Model.Gianguoilon đ</h5>
                <p>Số chỗ còn nhận: @Model.Songuoi</p>
                <a href="@Url.Action("BookTour","DatTour", new { @id = Model.ID})"><button class="btn btn-outline-primary">Đặt ngay</button></a>
                <br />
                <a href="@Model.Lichtrinh" target="_top">Chương trình tour</a>
            </div>
            <br />
        </div>
    </div>
</div>