@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model YourTour.Models.ViewModels.TinTucViewModel
@{
    ViewData["Title"] = "Tin Tức";
    Layout = "~/Views/Shared/_LayoutTour.cshtml";
}
<div class="container py-lg-4 py-sm-3">
    <div class="col-lg-12 col-sm-12 mb-5">
        <h6 style="width:1024px"><i>@Model.Noidung</i></h6>
        <br />
        <h6 style="margin-bottom:20px"><b>@Model.Tieude1</b></h6>
        <img style="margin-bottom:20px; height:auto" src="@Url.Content("/images/tin tuc/"+@Model.Hinhanh1)" alt="@Model.Hinhanh1" width="1024">
        <h6 style="width:1024px; margin-bottom:20px">@Model.Noidung1</h6>
        <h6 style="margin-bottom:20px"><b>@Model.Tieude2</b></h6>
        <img style="margin-bottom: 20px; height: auto" src="@Url.Content("/images/tin tuc/"+@Model.Hinhanh2)" alt="@Model.Hinhanh2"  width="1024">
        <h6 style="width:1024px; margin-bottom:20px">@Model.Noidung2</h6>
        <h6 style="margin-bottom:20px"><b>@Model.Tieude3</b></h6>
        <img style="margin-bottom: 20px; height: auto" src="@Url.Content("/images/tin tuc/"+@Model.Hinhanh3)" alt="@Model.Hinhanh3"  width="1024">
        <h6 style="width:1024px; margin-bottom:20px">@Model.Noidung3</h6>
        <h6 style="margin-bottom:20px"><b>@Model.Tieude4</b></h6>
        <img style="margin-bottom: 20px; height: auto" src="@Url.Content("/images/tin tuc/"+@Model.Hinhanh4)" alt="@Model.Hinhanh4"  width="1024">
        <h6 style="width:1024px; margin-bottom:20px">@Model.Noidung4</h6>
        <h6 style="margin-bottom:20px"><b>@Model.Tieude5</b></h6>
        <img style="margin-bottom: 20px; height: auto" src="@Url.Content("/images/tin tuc/"+@Model.Hinhanh5)" alt="@Model.Hinhanh5"  width="1024">
        <h6 style="width:1024px; margin-bottom:20px">@Model.Noidung5</h6>
    </div>
</div>
